doctype
html
  head
    title Brunel Sub Aqua (SCUBA)
    link(rel="stylesheet", href="/main.css")
  body
    header
      .container
        h1
          a(href="/")
            img.logo(src="/images/flag.png" alt="Brunel Sub Aqua")
            | Brunel Sub Aqua
        nav
          ul
            //- li
            //-   a(href="/about") About
            //- li
            //-   a(href="/events") Events
            //- li
            //-   a(href="/contact") Contact
            li
              a(href="https://www.facebook.com/groups/brunelsubaqua") Facebook
            li
              a(href="https://twitter.com/brunelsubaqua") Twitter
            li
              a(href="mailto:brunelsubaqua@gmail.com") Email Us
            li
              a(href="/join") Join
    != yield

    footer.container
      p(style="float:left;width:33%;") &copy; Brunel Sub Aqua 2014
      p(style="float:left;width:33%;text-align: center") Developed by 
        a(href="http://bensbit.co.uk") Ben Evans
      p(style="float:left;width:33%;text-align: right")
        a(href="https://github.com/BrunelSubAqua/brunelsubaqua.org") Help Develop Site

    script(type="text/javascript", src="js/app.js")