doctype
html
  head
    title Brunel Sub Aqua (SCUBA Diving) Club
    link(rel="stylesheet", href="/main.css")

    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="description", content="Brunel University Club for students, staff and graduates of any experience level to join with options for training, fun dives and trips.")
    meta(name="keywords", content="SCUBA, dive, diving, water, sea, Brunel, University, Union, club, sub-aqua")
    meta(property="fb:admins" content="1089532097")

    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@BrunelSubAqua')
    meta(name='twitter:title', content='Brunel Sub Aqua (SCUBA Diving) Club')
    meta(name='twitter:description', content='Find out more.')
    meta(name='twitter:image', content='http://brunelsubaqua.org/images/SUB%20AQUA%20LOGO%202.jpg')
    meta(name='twitter:url', content='http://brunelsubaqua.org/')

  body
    header
      .container
        h1
          a(href="/")
            img.logo(src="/images/flag.png" alt="Brunel Sub Aqua")
            | Brunel Sub Aqua
        nav
          ul
            //- li
            //-   a(href="/about") About
            //- li
            //-   a(href="/events") Events
            //- li
            //-   a(href="/contact") Contact
            li
              a(href="https://www.facebook.com/groups/brunelsubaqua") Facebook
            li
              a(href="https://twitter.com/brunelsubaqua") Twitter
            li
              a(href="mailto:brunelsubaqua@gmail.com") Email Us
            li
              a(href="/join") Join
    != yield

    footer.container
      p(style="float:left;width:33%;") &copy; Brunel Sub Aqua 2014
      p(style="float:left;width:33%;text-align: center") Developed by 
        a(href="http://bensbit.co.uk") Ben Evans
      p(style="float:left;width:33%;text-align: right")
        a(href="https://github.com/BrunelSubAqua/brunelsubaqua.org") Help Develop Site

    script(type="text/javascript", src="js/app.js")