doctype
html
  head
    title Brunel Sub Aqua (SCUBA)
    link(rel="stylesheet", href="/main.css")
  body
    header
      .container
        h1
          a(href="/")
            img.logo(src="/images/flag.png" alt="Brunel Sub Aqua")
            | Brunel Sub Aqua
        nav
          ul
            //- li
            //-   a(href="/about") About
            //- li
            //-   a(href="/events") Events
            //- li
            //-   a(href="/contact") Contact
            li
              a(href="https://www.facebook.com/groups/brunelsubaqua") Facebook
            li
              a(href="https://twitter.com/brunelsubaqua") Twitter
            li
              a(href="mailto:brunelsubaqua@gmail.com") Email Us
            li
              a(href="/join") Join
    != yield

    script(type="text/javascript", src="js/app.js")