.container.content
  h1 Equipment

  p We are lucky enough to have £1000s worth of kit for us to use. In order to use the equipment you must be a member of the club and have purchaced 'UK Equipment Usage' which costs £35 per year.

  h2 Borrowing Equipment

  p In order to borrow equiptment from the club, follow the following list:

  ol
    li Have club membership and equipment membership
    li Contact exec with dates and equipment list
    li Wait for confirmation
    li Organise a time with an exec to pickup and dropoff equipment
    li Check equipment is in good condition (tanks should be full)
    li Go Dive!
    li Refill tank
    li Wash and Dry kit
    li Return to exec

  h2 BCDs

  p Todo.

  h2 Regs

  p Todo.

  h2 Gloves

  p Todo.

  h2 Fins

  p Todo.

  h2 Tanks/Cylinders

  img(src="/images/2014-09-21%2017.04.47.jpg")

  p When borrowing tanks you should expect to find them full (but always check). Once finished with a tank it should be full on return to storage.

  table
    thead
      tr
        th ID
        th Colour
        th Serviced Until
        th Additional Info
    tbody
      tr
        td 1
        td White
        td Out of Service
      tr
        td 2
        td Blue
        td Out of Service
      tr
        td 3
        td Yellow
        td 2016
        td Short Tank
      tr
        td 4
        td Orange
        td 2016
      tr
        td 5
        td Yellow
        td 2016
      tr
        td 6
        td Blue
        td 2016
      tr
        td 7
        td Yellow
        td 2016
      tr
        td 8
        td Yellow
        td 2016
      tr
        td BR
        td White
        td Out of Service
        td Short Tank
