.container.content

  h1 Exec

  h2 AGM

  p We have an Anual General Meeting on 20th Febuary 18:00 - 19:30 in LC005. All members are encouraged to come along. It will be followed by a social of some description. In order to run the blub we're required to have an executive, these are all volunteer roles. We hope that you'll take the time to look through the roles and if you're able to contribute stand for a position at the AGM.

  h2 Positions

  h3 President
  p Manage training and ensure that all training gets completed within a specified timescale. Ensure that the club has at least 3 UK trips and 1 abroad trip per year. Encourage safe diving practice and ensure that all divers dive within their limits. Prevent divers from diving if necessary to ensure the club is safe and meets the specifications set out in the PADI Code of Safe Practice. Organise Fresher’s Fayre. Ensure all equipment is serviced and ready to use. Ensure that the storage space is dry, clean and well managed. Ensure all equipment is washed in fresh water before returning to the storage space. Encourage progression through the PADI programme, especially First Aid and Rescue courses.  Create a members sheet with contact information, kit and next of kin details. Ensure all appropriate medical forms, briefing forms, liability forms etc. are completed correctly. 

  h3 Vice-President
  p Collect payments from students. Maintain regular contact with the Finance office at the student union. Ensure that regular socials occur: at least 3 a month Sept – Oct, 2 a month Nov/Jan-March, 1 a month during exam periods Dec/Apr-May. Assists the President with the safe running of the club and with the completion of club aims regarding trips, equipment, and membership. Become a Rescue Diver in order to be a safe diver role model and assist on trips. 

  h3 Web/Social Media
  p Create a website which contains the club video, pricelist, committee members, where we dive, calendar and any other necessary information. Maintain the club Facebook and Twitter feed. Manage the mini site. Maintain a positive attitude to Brunel Sub Aqua online (i.e. check the Facebook for any negative comments and respond to them appropriately and professionally). Promote the club online. Email all Fresher’s after Fresher’s Fayre and update email contacts. Create a group email for all current members. 

  h3 Social Sec
  p Attend Fresher’s Fayre and promote Sub Aqua during September and October. Encourage students to join Sub Aqua and attend trips. Arrange and attend social events throughout the year. 

  h3 Trip Sec
  p Arrange a summer trip abroad, within a specified budget. Generate interest in the trip and collect money from individuals. Organise the safety and logistics of the trip.

  h3 Exec in training
  p Stay up to date with the activities of the club. Understand how to run the club next year. Promote the club where possible. Assist the President. Become a Dive Master in order to be a safe diver role model and assist on trips.

  h3 Diving Officer
  p Ensure that the PADI Code of Safe Practice is carried out by all divers. Promote safe diving within the club. Manage trips. Ensure the club stays within the 60:40 income: expenditure ratio as instructed by the student union. Manage remaining budget available for equipment.