.container.content
  h1(style='position: absolute; width: 100%; color: #eee; text-align: center; top: 100px;text-shadow: 0 0 4px rgba(0, 0, 0, 1);') Discover another world.&nbsp;
    a(href='/join', style='color:#eee') Join us
    | !
  .embed-bg
    iframe(id="home-yt-bg", src='//www.youtube-nocookie.com/embed/8y4U48fQ0JA?rel=0&autoplay=1&autohide=1&showinfo=0&controls=0&modestbranding=1&mute=1&loop=20', allowfullscreen='allowfullscreen')

  a(href="https://www.facebook.com/groups/brunelsubaqua/", style="display: block; background-color: #3b5998;width: 50%; padding: 20px; font-size: 20px; color: #fff;text-align: center;float:left; box-sizing: border-box;") Join us on Facebook
  a(href="https://twitter.com/brunelsubaqua", style="display: block; bottom: 0; background-color: #55ACEE;width: 50%; padding: 20px; font-size: 20px; color: #fff;text-align: center;margin-left: 50%; box-sizing: border-box;") Follow us on Twitter

  p(style="text-align:center;") We are an active dive club at 
    a(href="http://www.brunel.ac.uk/") Brunel University
    |  open to students, staff, graduates and all experience levels welcome!

  a(href="http://brunelstudents.com/sportsclubs/subaqua/", style="display: block; bottom: 0; width: 100%; padding: 20px; font-size: 20px; text-align: center;box-sizing: border-box;") Get your membership on BrunelStudents.co.uk