.container.content
  h1 Join Us

  p Want to dive with us? We are Brunel Sub Aqua and we scuba dive all over the world. We offer training for beginners and experts alike and with our student deals we can boast some of the cheapest scuba courses in the country! Interested? Visit us at Fresher's Fayre, facebook us or email us at brunelsubaqua@gmail.com.

  a(href="http://brunelstudents.com/sportsclubs/subaqua/") Join the club over on the Brunel Union site (click here).
  h2 Price List
  img(src="./images/price_list.jpg")