.container.content
  h1 Join Us

  p Want to dive with us? We are Brunel Sub Aqua and we scuba dive all over the world. We offer training for beginners and experts alike and with our student deals we can boast some of the cheapest scuba courses in the country! Interested? Visit us at Fresher's Fayre, facebook us or email us at brunelsubaqua@gmail.com.

  a(href="http://brunelstudents.com/sportsclubs/subaqua/") Join the club over on the Brunel Union site (click here).
  h2 Price List
  img(src="./images/price_list.jpg")

  h2 Annual Memberships

  table
    tr
      td
      th Brunel Students
      th Graduates/Staff/Community
    tr
      th Annual Membership
      td £20
      td £40
    tr
      td(colspan=3)
        i Membership comes with a FREE Try Dive for Uncertified Divers
    tr
      th Optional Extra: UK Equipment Use
      td £35
      td £35

  h2 Training

  table
    tr
      th EFR - First Aid
      td Price TBC
      td Price TBC
    tr
      th Freshers Open Water Trip To Spain
      td £250
      td £420
    tr
      th Advanced OW UK
    tr
      th Rescue UK
    tr
      th Divemaster UK

  h2 Trips

  table
    tr
      th Trip to Nemo 33
    tr
      th Trip to Utila (Flight/Accom)
    tr
      th Trip to Utila Installment 1
    tr
      th Trip to Utila Installment 2
    tr
      th Advanced OW Utila
    tr
      th Rescue Utila
    tr
      th Divemaster Utila
    tr
      th 10 Fun Dives Utila
    tr
      th SCUBA Refresher
    tr
      th Trip to Hyperbaric Chamber
    tr
      th Trip to Wraysbury (DSD)
    tr
      th Trip to Swanage
    tr
      th Trip to Cornwall